@import "//fonts.googleapis.com/icon?family=Material+Icons";
@import "//fonts.googleapis.com/css?family=Roboto:900,400,300";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";
@import "//cdn.rawgit.com/Lukas-W/font-linux/v0.9/assets/font-linux.css";
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
    /* background-color: #f2f2f2;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2)) fixed;
    -webkit-font-smoothing: antialiased;
}

#backdrop-wrap {
    width: 100%;
    height: 269px;
    background-color: #5394ff;
    position: absolute;
    z-index: -2;
    top: 0;
}

#backdrop {
    height: 30px;
    width: 100%;
    background-color: #5394ff;
}

.ajax-container {
    padding-bottom: 1.5em;
}

.img:focus {
    outline: -webkit-focus-ring-color auto 0px;
    outline: none !important;
}

.top-links {
    margin-top: 17px
}

.breadcrumb>li+li:last-child:before {
    content: "";
    padding: 0px !important
}

.breadcrumb>li+li:last-child .btn-group {
    margin-top: -2px;
    margin-right: -8px
}

div#ssh_wrapper {
    margin-top: 0px;
}

div#ssh_frame {
    border: 1px solid #eceeef;
    background: transparent;
    position: relative;
}

p#ssh_action {
    margin: 0px;
    padding: 0px;
}

div#ssh_frame iframe {
    border: none;
    background: #FFFFFF;
    width: 100%;
    min-height: 440px;
    margin-bottom: -5px;
}

div.ssh_wrap_fullscreen {
    position: fixed;
    background: #FFFFFF;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: -25px;
    z-index: 11300;
}

.nopadding {
    padding: 0;
}

header {
    padding: 60px 0 0 0;
}

header h1 {
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    /*background-color: #fff;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	text-shadow: rgba(255, 255, 255, 0.25) 0px 3px 3px;*/
}

.logo img {
    height: 55px;
    margin-top: -5px;
    margin-right: 0px
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.btn.btn-flat {
    color: inherit!important;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    margin: 10px;
    padding: 8px 30px;
    border: none;
    text-decoration: none;
    outline: 0!important;
}

.btn.btn-flat:hover {
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.table td {
    vertical-align: inherit;
}

.cloud-deployers-table td,
.cloud-servers-table td {
    vertical-align: inherit;
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.alert {
    padding: 15px;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.125rem;
}

.alert-heading {
    color: inherit;
}

.alert-link {
    font-weight: bold;
}

.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    background-color: #4caf50;
    border-color: #fff;
    color: white;
}

.alert-success hr {
    border-top-color: #3d8b40;
}

.alert-success .alert-link {
    color: #e6e6e6;
}

.alert-info {
    background-color: #03a9f4;
    border-color: #fff;
    color: white;
}

.alert-info hr {
    border-top-color: #027fb8;
}

.alert-info .alert-link {
    color: #e6e6e6;
}

.alert-warning {
    background-color: #ff5722;
    border-color: #fff;
    color: white;
}

.alert-warning hr {
    border-top-color: #ee3900;
}

.alert-warning .alert-link {
    color: #e6e6e6;
}

.alert-danger {
    background-color: #f44336;
    border-color: #fff;
    color: white;
}

.alert-danger hr {
    border-top-color: #ea1c0d;
}

.alert-danger .alert-link {
    color: #e6e6e6;
}

.alert {
    border: 0;
    border-radius: 0;
}

.dropdown .dropdown-menu {
    padding: .5rem;
}

.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover {
    background-color: #4285F4;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    border-radius: 2px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    background-color: #4285F4;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover {
    color: #FFF!important;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: .5rem;
    margin-left: 0;
    font-size: .9rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
}

a.close {
    color: white;
}

a.close:hover {
    color: white;
    opacity: .75;
}

table {
    position: relative;
    overflow: hidden;
    border-collapse: collapse;
    z-index: 1;
}

pre {
    white-space: pre-wrap!important
}

blockquote,
pre {
    border: 0px solid #999
}

a>code,
pre code {
    padding: 0;
    color: inherit
}

.table,
pre code {
    background-color: transparent
}

pre {
    display: block;
    margin-top: 0;
    font-size: 80%;
    color: #212529
}

pre code {
    font-size: inherit;
    border-radius: 0
}

tr,
td {
    background: none;
}

.t-progress {
    position: absolute;
    left: 0;
    width: 0%;
    height: 0px;
    margin-top: -15px;
    z-index: -1;
    background: #8F8;
    transition: width 1s;
}

.card {
    z-index: 0;
}

.dropdown {
    position: relative !important;
}

.nav,
.navbar {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    -ms-flex-wrap: wrap
}

.custom-file-control:lang(en)::before {
    content: "Browse"
}

.breadcrumb::after,
.navbar-toggler-icon {
    content: ""
}

.nav {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0
}

.nav-link,
.navbar {
    padding: .5rem 1rem
}

.nav-link {
    display: block
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none
}

.nav-link.disabled {
    color: #868e96
}

.nav-tabs .nav-item {
    margin-bottom: -1px
}

.nav-tabs .nav-link {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #ddd
}

.nav-tabs .nav-link.disabled {
    color: #868e96;
    background-color: transparent;
    border-color: transparent
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #ddd #ddd #fff
}

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.nav-pills .nav-link {
    border-radius: .25rem
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link {
    color: #fff;
    background-color: #007bff
}

.nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center
}

.nav-justified .nav-item {
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

#toast-container>div,
.author-box,
.badge,
.btn,
.card-wrapper .back,
.card-wrapper .front,
.card.card-cascade.wider .card-body,
.card:not([class*=card-outline-]),
.chip,
.counter,
.dropdown-content,
.jumbotron,
.md-pills .nav-link.active,
.modal-dialog.cascading-modal .modal-c-tabs .nav-tabs,
.modal-dialog.modal-notify .modal-header,
.navbar,
.pagination .active .page-link,
.pricing-card .price .version,
.section-blog-fw .view,
.side-nav,
.social-list,
.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.card.card-cascade.card-avatar img,
.card.card-cascade.wider.reverse .card-body,
.colorful-select .dropdown-content li.active span,
.comments-list .badge,
.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover,
.form-header,
.md-pills .nav-link.active:hover,
.media .media-left img,
.modal-dialog .modal-content,
.modal-dialog.cascading-modal .modal-header,
.nav-tabs,
.picker__box .picker__table .picker--focused,
.picker__box .picker__table .picker__day--selected,
.picker__box .picker__table .picker__day--selected:hover,
.pricing-card .header,
.reply-form .badge,
.z-depth-1-half,
ul.instagram-photos li img {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.nav-tabs {
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    background-color: #2BBBAD;
    z-index: 2;
    position: relative;
    border-radius: 2px
}

.nav-tabs .nav-item+.nav-item {
    margin-left: 0
}

.nav-tabs .nav-link {
    border: 0;
    color: #fff
}

.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, .2);
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s;
    border-radius: 2px
}

.md-pills {
    border: 0
}

.md-pills li {
    padding: .6rem
}

.md-pills .nav-link {
    -webkit-transition: all .4s;
    transition: all .4s;
    border-radius: 2px;
    color: #666;
    text-align: center
}

.md-pills .nav-link:hover {
    background-color: rgba(158, 158, 158, .3)
}

.md-pills .nav-link.active {
    color: #fff;
    background-color: #2BBBAD
}

.pills-primary .nav-item .nav-link.active,
.tabs-primary {
    background-color: #4285F4
}

.pills-danger .nav-item .nav-link.active,
.tabs-danger {
    background-color: #ff3547
}

.pills-warning .nav-item .nav-link.active,
.tabs-warning {
    background-color: #F80
}

.pills-success .nav-item .nav-link.active,
.tabs-success {
    background-color: #00C851
}

.pills-info .nav-item .nav-link.active,
.tabs-info {
    background-color: #33b5e5
}

.pills-default .nav-item .nav-link.active,
.tabs-default {
    background-color: #2BBBAD
}

.pills-secondary .nav-item .nav-link.active,
.tabs-secondary {
    background-color: #a6c
}

.pills-elegant .nav-item .nav-link.active,
.tabs-elegant {
    background-color: #2E2E2E
}

.pills-unique .nav-item .nav-link.active,
.tabs-unique {
    background-color: #880e4f
}

.pills-dark-green .nav-item .nav-link.active,
.tabs-dark-green {
    background-color: #388E3C
}

.pills-mdb-color .nav-item .nav-link.active,
.tabs-mdb-color {
    background-color: #59698D
}

.pills-red .nav-item .nav-link.active,
.tabs-red {
    background-color: #D32F2F
}

.pills-pink .nav-item .nav-link.active,
.tabs-pink {
    background-color: #ec407a
}

.pills-purple .nav-item .nav-link.active,
.tabs-purple {
    background-color: #8e24aa
}

.pills-deep-purple .nav-item .nav-link.active,
.tabs-deep-purple {
    background-color: #512da8
}

.pills-indigo .nav-item .nav-link.active,
.tabs-indigo {
    background-color: #3f51b5
}

.pills-blue .nav-item .nav-link.active,
.tabs-blue {
    background-color: #1976D2
}

.pills-light-blue .nav-item .nav-link.active,
.tabs-light-blue {
    background-color: #82B1FF
}

.pills-cyan .nav-item .nav-link.active,
.tabs-cyan {
    background-color: #00bcd4
}

.pills-teal .nav-item .nav-link.active,
.tabs-teal {
    background-color: #00796b
}

.pills-green .nav-item .nav-link.active,
.tabs-green {
    background-color: #388E3C
}

.pills-light-green .nav-item .nav-link.active,
.tabs-light-green {
    background-color: #8bc34a
}

.pills-lime .nav-item .nav-link.active,
.tabs-lime {
    background-color: #afb42b
}

.pills-yellow .nav-item .nav-link.active,
.tabs-yellow {
    background-color: #fbc02d
}

.pills-amber .nav-item .nav-link.active,
.tabs-amber {
    background-color: #ffa000
}

.pills-orange .nav-item .nav-link.active,
.tabs-orange {
    background-color: #f57c00
}

.pills-deep-orange .nav-item .nav-link.active,
.tabs-deep-orange {
    background-color: #ff7043
}

.pills-brown .nav-item .nav-link.active,
.tabs-brown {
    background-color: #795548
}

.pills-grey .nav-item .nav-link.active,
.tabs-grey {
    background-color: #616161
}

.pills-blue-grey .nav-item .nav-link.active,
.tabs-blue-grey {
    background-color: #78909c
}

.pills-white .nav-item .nav-link.active,
.tabs-white {
    background-color: #fff
}

.pills-black .nav-item .nav-link.active,
.tabs-black {
    background-color: #000
}

.tab-content {
    padding: 2rem 1rem 1rem;
    z-index: 1;
    border-radius: 0 0 .3rem .3rem
}

.tab-content.vertical {
    padding-top: 0
}

.classic-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    border-radius: .3rem .3rem 0 0
}

@media (min-width: 62rem) {
    .classic-tabs {
        overflow-x: hidden
    }
}

.classic-tabs li {
    -webkit-box-flex: 1 0 30%;
    -webkit-flex: 1 0 30%;
    -ms-flex: 1 0 30%;
    flex: 1 0 30%
}

.classic-tabs li a {
    display: block;
    padding: 20px 24px;
    font-size: 13px;
    color: rgba(255, 255, 255, .7);
    text-align: center;
    border-radius: 0
}

.card .card-data ul li,
.card .card-review ul li {
    display: inline
}

.classic-tabs li a.active {
    border-bottom: 3px solid;
    color: #fff
}

@media (min-width: 62em) {
    .classic-tabs li {
        -webkit-box-flex: inherit;
        -webkit-flex: inherit;
        -ms-flex: inherit;
        flex: inherit
    }
    .classic-tabs li:first-child {
        margin-left: 56px
    }
}

.classic-tabs.tabs-cyan li a.active {
    border-color: #ffeb3b
}

.classic-tabs.tabs-orange li a.active {
    border-color: #E53935
}

.classic-tabs.tabs-grey li a.active {
    border-color: #FFF
}

.classic-tabs.tabs-pink li a.active {
    border-color: #673ab7
}

.classic-tabs.tabs-green li a.active {
    border-color: #1565C0
}

.classic-tabs.tabs-primary li a.active {
    border-color: #FFF
}

.card.card-image {
    background-size: cover;
    background-position: center;
    width: 100%
}

.card .card-data {
    background-color: #929FBA;
    color: #fff;
    text-align: center;
    height: auto;
    padding: 10px
}

.card .card-data ul {
    margin-bottom: 0;
    font-size: .9rem
}

.card .card-data ul li .fa-clock-o {
    margin-left: 10px
}

.card .card-data ul a {
    color: #fff
}

.card .card-data ul a .fa {
    margin-left: 5px;
    margin-right: 3px
}

.card.card-dark .card-body {
    background-color: #2E2E2E
}

.card.card-dark .card-body hr {
    background-color: #666
}

.card.card-cascade {
    width: 100%
}

.card.card-cascade .view {
    border-radius: 4px
}

.card.card-cascade .view.gradient-card-header {
    padding: 1.6rem 1rem;
    text-align: center
}

.card.card-cascade .view.gradient-card-header .btn-floating {
    background-color: rgba(255, 255, 255, .2)
}

.card.card-cascade.narrower {
    margin-top: 20px
}

.card.card-cascade.narrower .view {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px
}

.card.card-cascade.wider {
    background-color: transparent
}

.card.card-cascade.wider .view {
    z-index: 2
}

.card.card-cascade.wider .card-body {
    margin-left: 4%;
    margin-right: 4%;
    background: #fff;
    z-index: 1;
    border-radius: 0 0 .3rem .3rem
}

.card.card-cascade.wider.reverse .card-body {
    z-index: 3;
    margin-top: -1rem;
    border-radius: 4px
}

.card.card-cascade.card-avatar {
    margin-top: 6rem;
    text-align: center
}

.card.card-cascade.card-avatar img {
    margin-top: -5rem;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    border-radius: 50%
}

.card.card-cascade .card-body {
    padding-top: 1.8rem
}

.card .activator {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    margin-right: 10px;
    font-size: 1.2rem
}

.card .rating {
    color: #ffa000
}

.card .btn-action {
    margin: -23px 20px -23px auto;
    background-color: #929FBA;
    height: 47px;
    width: 47px;
    line-height: 0
}

.card .btn-action .fa {
    font-size: 18px
}

.card .btn-action .fa.fa-chevron-right {
    margin-top: 2px;
    margin-left: 2px
}

.card .card-review {
    margin-top: -1px;
    color: #fff;
    padding: 50px 20px 20px
}

.card .card-review ul {
    margin-bottom: 0;
    font-size: .9rem
}

.card .card-review ul a {
    color: #fff
}

.card .card-review ul a .fa {
    margin-left: 5px;
    margin-right: 3px
}

.card .card-reveal {
    position: absolute;
    width: 100%;
    overflow-y: auto;
    top: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    padding: 1rem
}

.card .card-reveal .card-title i {
    color: #9e9e9e;
    position: absolute;
    right: 10px
}

.card .card-reveal .content,
.card .card-share {
    position: relative
}

.card .card-reveal .content h4 {
    margin-top: 20px;
    margin-bottom: 15px
}

.card .card-reveal .content h5 {
    margin-top: 30px
}

.card .card-share .social-reveal {
    position: absolute;
    top: -28px;
    right: 30px;
    visibility: hidden;
    width: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .35s ease;
    transition: -webkit-transform .35s ease;
    transition: transform .35s ease;
    transition: transform .35s ease, -webkit-transform .35s ease
}

.card .card-share .social-reveal .btn-floating {
    margin: .3rem
}

.card .card-share .social-reveal .btn-floating i {
    font-size: 18px
}

.card .card-share .social-reveal-active {
    z-index: 11;
    visibility: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(-48px);
    -ms-transform: translateX(-48px);
    transform: translateX(-48px);
    -webkit-transition: -webkit-transform .35s ease;
    transition: -webkit-transform .35s ease;
    transition: transform .35s ease;
    transition: transform .35s ease, -webkit-transform .35s ease
}

.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right,
.pswp__caption--fake {
    visibility: hidden
}

.card.ovf-hidden {
    overflow: hidden
}

.card .card-footer {
    background-color: transparent
}

.card .card-footer .left {
    float: left
}

.card .card-footer .left .discount {
    text-decoration: line-through;
    color: #9e9e9e;
    font-size: 1.1rem
}

.card .card-footer .right {
    float: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.card .card-footer .right a {
    color: #757575;
    margin-left: 1rem;
    -webkit-transition: .4s;
    transition: .4s
}

.card .card-footer .right a:hover {
    color: #d50000;
    -webkit-transition: .4s;
    transition: .4s
}

.card .card-footer .right a.active {
    color: #d50000
}

.card-wrapper {
    margin: 0;
    min-height: 500px;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px
}

.card-wrapper .face {
    position: absolute;
    width: 100%;
    height: 100%
}

.card-wrapper .face h4 {
    margin-bottom: 15px
}

.card-wrapper .face h5 {
    margin-top: 30px
}

.card-wrapper .face .content {
    text-align: left;
    padding: 15px
}

.card-wrapper .face .content p {
    margin-bottom: 30px
}

.card-wrapper .face .content .rotate-btn {
    padding: 1rem;
    margin-right: -8px;
    float: right;
    font-size: 1.2rem
}

.card-wrapper .card-up {
    overflow: hidden;
    height: 50%
}

.card-wrapper .card-up img {
    min-width: 400px
}

.card-wrapper .avatar {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -65px auto 0;
    overflow: hidden;
    width: 120px
}

.card-wrapper .avatar img {
    border: 5px solid #fff;
    background: #FFF;
    width: 100%
}

.card-wrapper .card-rotating {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.card-wrapper .card-rotating .content {
    position: relative
}

.card-wrapper .card-rotating .content .rotate-btn {
    position: absolute;
    right: 8px;
    top: 0
}

.card-wrapper .fa-repeat,
.card-wrapper .fa-undo {
    font-size: 20px;
    margin-top: 30px
}

.card-wrapper .fa-undo {
    margin-top: 30px
}

.card-wrapper .back,
.card-wrapper .front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s
}

.pswp,
.pswp__bg,
.pswp__container,
.pswp__img--placeholder,
.pswp__share-modal,
.pswp__zoom-wrap {
    -webkit-backface-visibility: hidden
}

.card-wrapper .back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    padding: 1rem
}

.card-wrapper .back .card-title i {
    color: #9e9e9e;
    position: absolute;
    right: 20px
}

.card-wrapper .card-rotating.effect__click.flipped .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.card-wrapper .card-rotating.effect__click.flipped .back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}

code,
pre {
    max-height: 450px;
}

pre {
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2), 0 1px 6px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2), 0 1px 6px 0 rgba(0, 0, 0, .19);
    margin: 2.5em 0;
    overflow: auto;
    padding: 1em;
}

code,
pre {
    color: #292b2c;
    background: #eaeaea;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.4;
    font-size: .80rem;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    display: block;
    margin-top: 0;
    font-size: 85%;
    color: #212529;
}

.table {
    margin-bottom: 0
}

.modal-dialog.cascading-modal {
    margin-top: 5%;
}

.fab-container {
    bottom: 0;
    position: fixed;
    margin: 1em;
    right: 0px;
}

.buttons {
    box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    display: block;
    width: 56px;
    height: 56px;
    margin: 20px auto 0;
    font-size: 40px;
    padding: 1px 10px 0 13px;
    position: relative;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    outline: 0;
    -moz-outline-style: none;
}

.buttons:active,
.buttons:focus,
.buttons:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    outline: 0;
    -moz-outline-style: none;
}

.buttons:not(:last-child) {
    width: 40px;
    height: 40px;
    margin: 20px auto 0;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.fab-container:hover .buttons:not(:last-child) {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    margin: 12px auto 0px;
}

.buttons:nth-last-child(1) {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms;
}

.buttons:not(:last-child):nth-last-child(2) {
    -webkit-transition-delay: 50ms;
    transition-delay: 20ms;
    padding: 4px 12px 0px 8px;
    font-size: 22px;
}

.buttons:not(:last-child):nth-last-child(3) {
    -webkit-transition-delay: 75ms;
    transition-delay: 40ms;
    padding: 0px 0px 6px 9px;
    font-size: 28px;
}

.buttons:not(:last-child):nth-last-child(4) {
    -webkit-transition-delay: 100ms;
    transition-delay: 60ms;
    padding: 0px 0px 0px 10px;
    font-size: 31px;
}

.buttons:not(:last-child):nth-last-child(5) {
    -webkit-transition-delay: 125ms;
    transition-delay: 60ms;
    padding: 2px 0px 0px 8px;
    font-size: 24px;
}


/* Show tooltip content on hover */

[tooltip]:before {
    bottom: 25%;
    font-family: arial;
    font-weight: 600;
    border-radius: 2px;
    background: #585858;
    color: #fff;
    content: attr(tooltip);
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    padding: 5px 7px;
    margin-right: 12px;
    position: absolute;
    right: 100%;
    white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

.btn-outline-primary {
    background-color: #ffffff;
}

.btn-outline-primary.active,
.btn-outline-primary:active,
.btn-outline-primary:active:focus,
.btn-outline-primary:focus,
.btn-outline-primary:hover {
    background-color: #ffffff;
}

.btn-outline-warning {
    background-color: #ffffff;
}

.btn-outline-warning.active,
.btn-outline-warning:active,
.btn-outline-warning:active:focus,
.btn-outline-warning:focus,
.btn-outline-warning:hover {
    background-color: #ffffff;
}

.btn-outline-danger {
    background-color: #ffffff;
}

.btn-outline-danger.active,
.btn-outline-danger:active,
.btn-outline-danger:active:focus,
.btn-outline-danger:focus,
.btn-outline-danger:hover {
    background-color: #ffffff;
}

.btn-outline-success {
    background-color: #ffffff;
}

.btn-outline-success.active,
.btn-outline-success:active,
.btn-outline-success:active:focus,
.btn-outline-success:focus,
.btn-outline-success:hover {
    background-color: #ffffff;
}

.btn-outline-default {
    background-color: #ffffff;
}

.btn-outline-success.default,
.btn-outline-default:active,
.btn-outline-default:active:focus,
.btn-outline-default:focus,
.btn-outline-default:hover {
    background-color: #ffffff;
}

.btn-outline-info {
    background-color: #ffffff;
}

.btn-outline-info.default,
.btn-outline-info:active,
.btn-outline-info:active:focus,
.btn-outline-info:focus,
.btn-outline-info:hover {
    background-color: #ffffff;
}

.form-control-feedback {
    margin-top: -37px;
    font-size: 0.95em;
    color: #b93b3b;
}

.form-control-warning {
    border-bottom: 1px solid #b93b3b !important;
}

a:active,
a:focus {
    outline: 0;
    -moz-outline-style: none
}

.modal-footer {
    display: block;
}

.bootbox-confirm .modal-footer {
    display:flex;
}
